html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
      overflow-x: hidden;
}
@media (min-width: 1300px){
	.container {
   width: 1300px;
 }
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
body{
	font-family: 'Lato',Arial;
	font-size:20px;
  line-height: 35px;
  color:#ffffff;
  letter-spacing: 0.0976rem;
  overflow-x: hidden;
}
a{
	color:#c000bc;
}
p{
	padding-bottom:25px;
  z-index: 5;
  position: relative;
}
h2{
	font-family: 'Lato',Arial;
  font-weight: 800;
  font-size:36px;
  margin-bottom: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
h3{
	font-family: 'Lato',Arial;
	color:#a35aff;
  font-weight: 800;
  font-size:30px;
  margin-bottom: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.center_flex {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}
.text--right{
	text-align:right;
}
.text--center{
	text-align:center;
}
.p{
  font-size: 20px;
  text-transform: none;
  font-weight: normal;
  padding-bottom: 20px;
  margin:0;
}
a:focus {
 color: #ffffff; 
 text-decoration: none;
}
a:hover{
  color:#fd65fb;
  text-decoration: none;
}
.footer-menu_screen a:hover{
border-bottom: 1px solid #a973f3;
}
.padding_left_5{
  padding-left:5px;
}
.no_padding{
padding:0 !important;
}
.button{
  font-family: 'Lato',Arial;
  font-weight: 800;
  margin: 20px 0;
  min-width: 310px;
  padding: 25px 35px;
  border-radius: 40px;
  font-size: 18px;
  background: #c000bc;
  display: inline-block;
  text-align: center;
  color: #ffffff;
}
.button:hover{
 background: linear-gradient(#ff16a2 35%, #6c105c); 
}
.button.purple{
	background-color:#7c24e5;
}
.button.purple:hover{
   background: linear-gradient(#b900ff , #3fa2e9); 
}
.button:hover{
  color: #ffffff;
  text-decoration: none;
}
/*.button.purple:hover{
  box-shadow: 0px 1px 11px 1px #7c24e5;
}*/
.header{
  padding-top: 0;
  position: relative;
  z-index: 1;
}
.navbar-nav a{

}
.navbar-toggle{
  margin-top: 40px;
}
.navbar-toggle .icon-bar {
	background: white;
}
.navbar-nav{
  padding-top: 20px;
  float: right;
}
.navbar-nav li{
	padding:  25px;
}
.navbar-nav li a{
	font-size:14px;
  text-transform: uppercase;
  color:#ffffff;
}
.navbar-nav li.support-link{
	padding:25px 20px 25px 40px;
}
.navbar-nav li.support-link a{
	color:#6f5fff;
}
.navbar-nav li.support-link a:hover{
  color:#9599ff;
}

.navbar-collapse{
	padding: 0;
}
.navbar-brand{
  width: 25%;
  height: 110px;
  line-height: 75px;
  padding: 15px 0;

  padding-left: 10px;
}
.navbar-brand>img{
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.navbar-nav li.signin-link{
  padding: 20px 0px 20px 20px;
}
.signin-link a{
  font-family: 'Lato',Arial;
  font-weight: 800;
  width: 145px;
  padding: 10px 30px 10px 5px;
  border-radius: 40px;
  font-size: 18px;
  background: url(../images/right-arrow.png) 81% 48% no-repeat #6251fb;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  transition:all 0.1s linear;
}
.signin-link a:hover{
  box-shadow: 0 0 5px 1px #9b90fbad;
  text-decoration: none;

}
@keyframes different_changes{
  0%{
    transform: /*rotateX(0deg) rotateY(0deg)*/ rotateZ(0deg) translate(0px, 0px);
  }
  25%{
    transform: /*rotateX(13deg) rotateY(15deg)*/ rotateZ(2deg) translate(30px, 20px);
  }
  50%{
   transform: /*rotateX(-13deg) rotateY(-15deg)*/ rotateZ(-2deg) translate(-20px, -30px);
 }
 75%{
   transform: /*rotateX(13deg) rotateY(15deg)*/ rotateZ(2deg) translate(30px, 20px);
 }
 100%{
   transform: /*rotateX(0deg) rotateY(0deg)*/ rotateZ(0deg) translate(0px, 0px);
 }
}
@keyframes satelite{
  0%{
    transform: rotateZ(0) translate(0px, 0px);
  }
  12.5%{
    transform: rotateZ(5deg) translate(-30px, -10px);
  }
  25%{
    transform: rotateZ(10deg) translate(-40px, -40px);
  }
  37.5%{
    transform: rotateZ(15deg) translate(-30px, -70px);
  }
  50%{
    transform: rotateZ(20deg) translate(0px, -80px);
  }
  62.5%{
    transform: rotateZ(15deg) translate(30px, -70px);
  }
  75%{
    transform: rotateZ(10deg) translate(40px, -40px);
  }
  87.5%{
    transform: rotateZ(5deg) translate(30px, -10px);
  }
  100%{
   transform: translate(0px, 0px);
 }
}
@keyframes satelite_part{
  0%{
    transform: rotate(0deg) translate(0%, 0%);
  }
  20%{
    transform: rotateZ(-30deg) translate(3%, 8%);
  }
  40%{
    transform: rotate(0deg) translate(0%, 0%);
  }
  100%{
    transform: rotate(0deg) translate(0%, 0%);
  }
}
@keyframes comet{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
   transform: scale(1);
 }
}
@keyframes astronavt{
  5%{
    transform: rotate(0deg) translate(0%, 0%);
  }
  10%{
    transform: rotate(-23deg) translate(5%, 8%);
  }
  15%{
    transform: rotate(0deg) translate(0%, 0%);
  }
  20%{
    transform: rotate(-23deg) translate(5%, 8%);
  }
  25%{
    transform: rotate(0deg) translate(0%, 0%);
  }
  100%{
    transform: rotate(0deg) translate(0%, 0%);
  }
}
@keyframes rocket{
  0%{
    transform:  translate(0px,0px);
  }
  25%{
    transform:  translate(-5px, -10px);
  }
  75%{
    transform: translate(5px, 10px);
  }
  100%{
    transform:  translate(0px, 0px);
  }
}
@keyframes rocket_fire{
  0%{
    transform: scale(1);
  }
  20%{
    transform: scale(1.2);
  }
  40%{
    transform: scale(0.9);
  }
  60%{
    transform: scale(1.1);
  }
  80%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes levitation{
  0%{
    transform: rotateZ(0deg) scale(1) translate(0px, 0px);
  }
  25%{
    transform: rotateZ(5deg) scale(1) translate(0px, 40px);
  }
  75%{
    transform: rotateZ(-5deg) scale(1) translate(0px, -40px);

  }
  100%{
    transform: rotateZ(0deg) scale(1) translate(0px, -1px);
  }

}
@keyframes vr_anim{
  0%{
    transform:translate(-27%, -9%);
    opacity:0;
  }
  5%{
    transform:translate(-15%, -3%);
    opacity:1;
  }
  15%{
    transform:translate(15%, 9%);
    opacity:1;
  }
  20%{
    transform:translate(30%, 18%);
    opacity:0;
  }
  100%{
    transform:translate(0, 0);
    opacity:0;
  }

}
@keyframes translate_text_first{
  0%{
    transform:translate(0, 0);
  }
  20%{
    transform:translate(-20%, 0%);
  }
  40%{
    transform:translate(0%, 15%);
  }
  60%{
    transform:translate(20%, 0%);
  }
  80%{
    transform:translate(0%, -15%);
  }
  100%{
    transform:translate(0, 0);
  }

}
@media screen  and (min-width:992px){

  .main_screen .first_word img.bg_text{
   animation:translate_text_first 4s linear infinite;
 }
 .main_screen .next_word img.bg_text{
   animation:translate_text_first 4s linear 1s infinite;
 }
 .main_screen .third_word img.bg_text{
   animation:translate_text_first 20s linear infinite;
 }
 .main_screen #scene_general img{  
  animation:different_changes 10s ease-in-out infinite;
}
.our-values_screen .misson_screen .img_section.satelite{
  animation:satelite 20s linear infinite;
}
.our-values_screen .goal_screen .img_section.saturn{
  animation:levitation 30s linear infinite;
}
.our-values_screen .values_screen .img_section.rocket{
  animation:rocket 10s linear infinite;
}
.our-values_screen .values_screen .img_section.rocket .fire{
  animation:rocket_fire 2s linear infinite;
}
.our-values_screen .misson_screen img.part{
  animation:satelite_part 10s linear infinite;
}
/* #scene_company img{  
  animation: comet 3s cubic-bezier(0.42, 0.32, 0.68, 0.8) infinite;
}
.our-values_screen #scene_goal img{  
  animation: comet 3s cubic-bezier(0.42, 0.32, 0.68, 0.8) infinite;
  }*/
  .our-values_screen #scene_value img{  
    animation:different_changes 10s ease-in-out infinite;
  }
  .prev-end_screen #scene_prev-end > div:nth-child(2n) div{
    animation:different_changes 15s ease-in-out  infinite;
  }
  .prev-end_screen #scene_prev-end > div:nth-child(2n+1) div{
    animation:different_changes 25s ease-in-out infinite;
  }
  .prev-end_screen #scene_prev-end > div:nth-child(3n+2) div{
    animation:different_changes 20s ease-in-out  infinite;
  }
  .astronavt{
    animation:levitation 20s linear 3s infinite;
  }
  .vr_image{
    animation:levitation 15s linear  infinite;
  }
  .vr_image:before{

    animation: vr_anim 5s linear 2s infinite;
  }
  .astronavt:before{

    animation: astronavt 5s linear infinite;
  }
}

.astronavt{
  position: relative;
}
.astronavt img{
  position: relative;
}
.astronavt:before{
  position: absolute;
  content:'';
  top:0;
  right:0;
  width:100%;
  height:100%;
  background:url(../images/Astronavt_Black_Hend.svg) no-repeat;
}
.vr_image{
  position:relative;
}
.vr_image:before{
  position:absolute;
  content:'';
  opacity:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: radial-gradient(#d7318ae0 0%,#d7318a9c 5%,#ffffff00 30%);
}
.company_screen,
.prev-end_screen{
  background:#1c063c;
}
.description_block{
  margin-top: 70px;
}
.radial_back{
  position: absolute;
  background: radial-gradient(#3600b5 0%,#21084200 70%);
  width: 2000px;
  height: 2000px;
  opacity: 0.25;
  top: 610px;
  left: -100px;
}
.radial_back.top{
  top: 0px;
  left: 200px;
}
.main_screen{
	padding: 0 0 500px;

  position: relative;
  z-index:1;
}
.main_screen .bg_screen{
  position: absolute;
  left: -110rem;
  top: -49rem;
  z-index: -1;
  pointer-events: none;
}
.main_screen .bg_wrapper{
    position: absolute;
    width: 97.8%;
    height: 95%;
    top: 2.7%;
    left: 0.9%;
    overflow: hidden;
}
.main_screen p{
	padding-left: 10px;
}
.main_screen .first_word{
  width: 66%;
  position: relative;
  margin-top:20px;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
.main_screen .next_word{
  position: relative;
  margin-top:20px;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
.main_screen .third_word{

  width: 87%;
  position: relative;
  margin:20px 0 40px 0;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
.main_screen .third_word img{

  vertical-align: bottom;
}

.main_screen img.bg_text{
  position: absolute;
  left: -100%;
  top: -290%;
  z-index: -1;
  width: 300%;
}
.img_section{
  width:100%;
  height:100%;
}
.company_screen{
  margin: -320px 0;
  padding: 320px 0;
  background-color:#210842;
  position:relative;
}
.company_screen h2{
  font-size:48px;
  line-height: 48px;
}
.img_section.company img{
  max-height: 450px;
}
.our-values_screen{
  padding-top: 350px;
  position: relative;
}
.our-values_screen .bg_screen{
  position: absolute;
  left: -129rem;
  top: 0rem;
  z-index: 0;
  pointer-events: none;
}
.img_section.satelite img{
  max-height: 350px;
}
.img_section.satelite {
  width: 350px;
  height: 350px;
  position: relative;
}
.img_section.satelite .part{
 max-width: 30%;
 position: absolute;
 bottom: 11%;
 left: 16%;
}
.misson_screen,
.goal_screen,
.values_screen{
	padding-bottom:180px;	
}
.misson_screen{
  z-index: 3;
}
.goal_screen{
  position: relative;
  z-index: 1;
  padding-top: 350px;
  margin-top: -350px; 
}
.goal_screen .bg_screen{
  position: absolute;
  left: -137rem;
  top: -10rem;
  z-index: -1;
  pointer-events: none;
}
.img_section.saturn img{
  max-height:350px;
}
.values_screen .radial_back{
  background: radial-gradient(#7200ff 0%,#21084200 70%);
  top: -1100px;
  left: -100px;
  pointer-events: none;
}
.values_screen{
  position: relative;
  z-index: 1;
  padding: 350px 0;
  margin-top: -350px;

}
.values_screen .bg_screen{
  position: absolute;
left: -87rem;
  top: -14rem;
  pointer-events: none;
}
.img_section.rocket img{
  max-height: 300px;
}
.img_section.rocket .fire{
  position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: -1;
}
.prev-end_screen{
  padding-bottom: 180px;
  margin-top: -500px;
  padding-top: 640px;
  position: relative;
  background: #250944;
}
.prev-end_screen .radial_back{
  top: 4%;
  left: -17%;
}
.prev-end_screen .ship{
  padding: 60px 10% 180px 0;
  text-align: center;
}
.action_screen{
  margin-top: -32px;
  padding-top: 337px;
  position: relative;
  z-index: 1;
  background-color: #250944;
padding-bottom: 450px;
    margin-bottom: -450px;
    overflow: hidden;
}
.action_screen .bg_screen{
  position: absolute;
  left: -125rem;
  top: 9rem;
  z-index: -1; 
  pointer-events: none;
}
.action_screen p{
	font-size:24px;
}
.footer-menu_screen{
  position: relative;
  margin-top: -18px;
  padding-top: 257px;
  z-index: 1;
  padding-bottom: 100px;
  margin-bottom: -100px;
  overflow: hidden;
}
.footer-menu_screen .bg_screen{
  position: absolute;
    left: -72rem;
    top: -5rem;
  pointer-events: none;
  z-index: -1;
}
.footer-menu_screen li a{
  font-size: 14px;
  color: #a973f3;
  letter-spacing: 0.5px;
}
.footer-menu_screen li{
  line-height: 30px;
}
.footer-menu_screen h4{
  text-shadow: 0 0 2px white;
  padding-bottom: 10px;
}
.footer-partners_screen{
  padding-top: 120px;
  position:relative;
  z-index: 1;
  background-color: #29054b;
  overflow: hidden;
}
.footer-partners_screen .bg_screen{
  position: absolute;
  left: -113rem;
  top: -22rem;
  pointer-events: none;
  z-index: -1;
}
.footer-partners_screen .bg_screen img{
  margin: 0;
  vertical-align: bottom;
}
.footer-partners_screen img{
  margin: 25px;
}
.footer-partners_screen p{
  font-size:10px;
  color:#484294;
  font-weight: bold;
}
.footer-partners_screen .footer_img_1{
  width:70px;
  height:40px;
}
.footer-partners_screen .footer_img_2{
  width:80px;
  height:45px;
}
.footer-partners_screen .footer_img_3{
  width:150px;
  height:30px;
}
.footer-partners_screen .footer_img_4{
  width:80px;
  height:30px;
}
.footer-partners_screen .footer_img_5{
  width:100px;
  height:40px;
}

#scene_general{
	position: absolute !important;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}
#scene_general img{
	position:absolute;
}
#scene_general>div{
  width:100%;
  height:100%;
}
.parallax_1 {
	z-index: 2;
}
.parallax_2 {
	z-index: 2;
}
#scene_general .parallax_1 img{
  top: -10%;
  left: -25%;
  animation-delay: 0.2s;
  animation-duration: 11s;
}
#scene_general .parallax_2 img{
  top: -37%;
  left: 8%;
  animation-delay: 0.5s;
  animation-duration: 10s;
}
#scene_general .parallax_3 img{
  top: 23%;
  left: 50%;
  animation-delay: 0.3s;
  animation-duration: 6s;
}
#scene_general .parallax_4 img{
  top: 10%;
  left: 30%;
  animation-delay: 0.8s;
  animation-duration: 11s;
}
#scene_general .parallax_5 img{
 left: 84%;
 top: 10%;
 animation-delay: 0.1s;
 animation-duration: 7s;
}
#scene_general .parallax_6 img{
  top: 31%;
  left: 62%;
  animation-delay: 0.3s;
  animation-duration: 7s;
}
#scene_general .parallax_7 img{
  top: 5%;
  left: 68%;
  animation-delay: 0.6s;
  animation-duration: 14s;
}

#scene_company{
  position: absolute !important;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}
#scene_company img{
  position:absolute;
}
#scene_company > div{
  width: 100%;
  height: 100%;
}
#scene_company .parallax_1 img{
  top: 10%;
  left: 20%;
}
#scene_company .parallax_2 img{
  top: 19%;
  left: 45%;
}
#scene_company .parallax_3 img{
  top: 30%;
  left: 80%;
}
#scene_company .parallax_4 img{
  top: 66%;
  left: 15%;
}
#scene_company .parallax_5 img{
  left: 60%;
  top: 68%;
}
#scene_company .parallax_6 img{
  top: 12%;
  left: -22%;
}
#scene_company .parallax_7 img{
  top: 71%;
  left: 26%;
}
#scene_company .parallax_8 img{
  top: 22%;
  right: 22%;
}

#scene_goal{
  position: absolute !important;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}
#scene_goal img{
  position:absolute;
}
#scene_goal > div{
  width: 100%;
  height: 100%;
}
#scene_goal .parallax_1 img{
  top: 33%;
  left: 45%;
}
#scene_goal .parallax_2 img{
  top: 65%;
  left: 65%;
}
#scene_goal .parallax_3 img{
  top: 80%;
  left: 30%;
}
#scene_goal .parallax_4 img{
  top: -12%;
  left: 84%;
}

#scene_value{
  position: absolute !important;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}
#scene_value img{
  position:absolute;
}
#scene_value > div{
  width: 100%;
  height: 100%;
}
#scene_value .parallax_1 img{
  top: 37%;
  left: 92%;
}
#scene_value .parallax_2 img{
  top: 23%;
  left: 84%;
}





#scene_prev-end{
  position: absolute !important;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}
#scene_prev-end img{
  position:absolute;
}
#scene_prev-end > div{
  width: 100%;
  height: 100%;
}
.prev-end_screen #scene_prev-end > div > div{
  width: 100%;
  height: 100%;
}
#scene_prev-end .parallax_1_1 img{
  top: 21%;
  left: 25%;
  filter: invert(100%);
  opacity: 0.5;
  transform: scale(1) rotateZ(0deg);
}
#scene_prev-end .parallax_1_2 img{
  top: 30%;
  right: 3%;
  filter: invert(100%);
  opacity: 0.2;
  transform: scale(1) rotateZ(0deg);
}
#scene_prev-end .parallax_1_3 img{
  top: 50%;
  left: 37%;
  filter: invert(100%);
  opacity: 0.5;
  transform: scale(1) rotateZ(0deg);
}
#scene_prev-end .parallax_1_4 img{
  top: 55%;
  left: 4%;
  filter: invert(0%);
  opacity: 1;
  transform: scale(0.8) rotateZ(0deg);
}
#scene_prev-end .parallax_1_5 img{
  top: 65%;
  left: 65%;
  filter: invert(100%);
  opacity: 1;
  transform: scale(1) rotateZ(60deg);
}
#scene_prev-end .parallax_1_6 img{
  top: 72%;
  left: 36%;
  filter: invert(0%);
  opacity: 0.8;
  transform: scale(1) rotateZ(-20deg);
}
#scene_prev-end .parallax_1_7 img{
 top: 82%;
 left: 28%;
 filter: invert(100%);
 opacity: 0.9;
 transform: scale(0.7) rotateZ(0deg);
}

#scene_prev-end .parallax_2_1 img{
  top: 24%;
  left: 65%;
  filter: invert(0%);
  opacity: 0.5;
  transform: scale(0.9) rotateZ(0deg);
}
#scene_prev-end .parallax_2_2 img{
  top: 39%;
  left: 48%;
  filter: invert(0%);
  opacity: 0.8;
  transform: scale(0.8) rotateZ(30deg);
}
#scene_prev-end .parallax_2_3 img{
  top: 60%;
  right: 4%;
  filter: invert(0%);
  opacity: 0.5;
  transform: scale(1.3) rotateZ(60deg);
}
#scene_prev-end .parallax_2_4 img{
  top: 70%;
  left: 15%;
  filter: invert(0%);
  opacity: 0.7;
  transform: scale(1) rotateZ(70deg);
}

#scene_prev-end .parallax_3_1 img{
  top: 26%;
  right: 10%;
  filter: invert(0%);
  opacity: 0.2;
  transform: scale(0.6) rotateZ(50deg);
}
#scene_prev-end .parallax_3_2 img{
  top: 40%;
  right: 27%;
  filter: invert(40%);
  opacity: 0.7;
  transform: scale(0.5) rotateZ(-60deg);
}
#scene_prev-end .parallax_3_3 img{
  top: 53%;
  left: 81%;
  filter: invert(60%);
  opacity: 0.9;
  transform: scale(0.5) rotateZ(-40deg);
}
#scene_prev-end .parallax_3_4 img{
  top: 62%;
  left: 7%;
  filter: invert(0%);
  opacity: 0.8;
  transform: scale(0.4) rotateZ(-40deg);
}
#scene_prev-end .parallax_3_5 img{
  top: 74%;
  right: 5%;
  filter: invert(0%);
  opacity: 0.9;
  transform: scale(0.8) rotateZ(0deg);
}
#scene_prev-end .parallax_3_6 img{
  top: 85%;
  left: 50%;
  filter: invert(60%);
  opacity: 1;
  transform: scale(0.4) rotateZ(-20deg);
}

#scene_prev-end .parallax_4_1 img{
  top: 28%;
  left: 10%;
  filter: invert(0%);
  opacity: 0.2;
  transform: scale(0.6) rotateZ(50deg);
}
#scene_prev-end .parallax_4_2 img{
  top: 35%;
  right: 19%;
  filter: invert(0%);
  opacity: 0.4;
  transform: scale(0.6) rotateZ(20deg);
}
#scene_prev-end .parallax_4_3 img{
  top: 48%;
  left: 14%;
  filter: invert(0%);
  opacity: 0.9;
  transform: scale(0.7) rotateZ(0deg);
}
#scene_prev-end .parallax_4_4 img{
  top: 50%;
  left: 68%;
  filter: invert(0%);
  opacity: 0.9;
  transform: scale(0.5) rotateZ(-20deg);
}
#scene_prev-end .parallax_4_5 img{
  top: 64%;
  right: 16%;
  filter: invert(0%);
  opacity: 0.7;
  transform: scale(0.8) rotateZ(90deg);
}
#scene_prev-end .parallax_4_6 img{
  top: 72%;
  left: 75%;
  filter: invert(0%);
  opacity: 0.5;
  transform: scale(0.6) rotateZ(60deg);
}

#scene_prev-end .parallax_5_1 img{
  top: 33%;
  right: 30%;
  filter: invert(10%);
  opacity: 0.4;
  transform: scale(0.5) rotateZ(0deg);
}
#scene_prev-end .parallax_5_2 img{
  top: 39%;
  right: 37%;
  filter: invert(0%);
  opacity: 0.6;
  transform: scale(0.6) rotateZ(0deg);
}
#scene_prev-end .parallax_5_3 img{
  top: 94%;
  right: 31%;

}
@media screen  and (min-width: 2000px) {
  .main_screen .bg_screen {
    left: -90rem;
  }
  .our-values_screen .bg_screen {
    left: -100rem;
  }
  .goal_screen .bg_screen {
    left: -120rem;
  }
  .values_screen .bg_screen {
    left: -64rem;
    top: -11rem;
  }  
  .action_screen .bg_screen {
    left: -105rem;
  }
  .footer-menu_screen .bg_screen {
    left: -91rem;
  }
  .footer-partners_screen .bg_screen {
    left: -98rem;
    top: -19rem;
  }


}
@media screen  and (min-width: 1200px) and (max-width:1400px){
  .main_screen .bg_screen {
    left: -130rem;
  }
  .our-values_screen .bg_screen {
    left: -139rem;
    top: -2rem;
  }
  .goal_screen .bg_screen {
   left: -158rem;
   top: -10rem;
 }
 .values_screen .bg_screen {
  left: -90rem;
  top: -14rem;
}
.action_screen .bg_screen {
 left: -145rem;
}
.footer-menu_screen .bg_screen {
 left: -134rem;
}
.footer-partners_screen .bg_screen {
 left: -133rem;
}

}

@media screen  and (min-width: 970px) and (max-width:1200px){
	.navbar-nav li a{
		font-size: 13px;
	}
	.navbar-nav li.support-link {
    padding: 20px 0px 20px 15px;
  }
  .navbar-nav li {
    padding: 20px 10px;
  }
  .navbar-nav li.signin-link {
   padding: 15px 0px 15px 15px;
 }
 p {
  font-size: 18px;
  line-height: 30px;
}
.main_screen .bg_screen {
  top: -45rem;
}
.our-values_screen .bg_screen {
  left: -139rem;
  top: -2rem;
}
.goal_screen .bg_screen {
 left: -158rem;
 top: -10rem;
}
.values_screen .bg_screen {
  left: -100rem;
  top: -14rem;
}
.action_screen .bg_screen {
 left: -145rem;
}
.footer-menu_screen .bg_screen {
 left: -134rem;
}
.footer-partners_screen .bg_screen {
 left: -133rem;
}
}

@media screen  and  (min-width: 768px) and (max-width:990px){
  .navbar-toggle {
   display: block; 
 }
 .navbar-collapse.collapse {
  display: none!important;
}
.navbar-collapse.in {
  overflow-y: visible;
  display: block!important;
}
}
@media screen  and (min-width: 250px) and (max-width:992px){
  .navbar-brand {
    width: 50%;
  }
  .company_screen {
    margin: -370px 0;
  }
  .main_screen .bg_screen {
    left: -150rem;
    top: -47rem;
  }
  .our-values_screen .bg_screen {
    position: absolute;
    left: -154rem;
    top: -10rem;
  }
  .goal_screen .bg_screen {
    position: absolute;
    left: -158rem;
    top: -12rem;
  }
  .values_screen .bg_screen{
    left: -148rem;
    top: -12rem;
  }
  h2{
    margin-bottom: 15px;
  }
  p,span{
    font-size: 17px;
    line-height: 24px;
  }
  .col-sm-6{
    text-align:center;
  }
  .col-sm-12{
    text-align:center;
  }
  .col-md-6{
    text-align:center;
  }
  .main_screen .first_word,
  .main_screen .next_word{
    margin: 0 auto 20px auto;
  }
  .main_screen .third_word
  {
    margin: 0 auto 40px auto;
  }
  .description_block{
    text-align: center;
    padding: 0 95px;
    margin: 0 0 50px 0;
  }
  #scene_general>div,
  #scene_company>div,
  #scene_goal>div,
  #scene_value>div,
  #scene_prev-end>div{
    pointer-events: none;
    position:absolute;
    z-index: 0;
  }

  #scene_general .parallax_2,
  #scene_general .parallax_3,
  #scene_general .parallax_4,
  #scene_general .parallax_5,
  #scene_general .parallax_7,
  .vr_image,
  #scene_company .parallax_4,
  #scene_company .parallax_5,
  #scene_company .parallax_7,
  #scene_company .parallax_8
  {
    display:none;
  }
  #scene_company .parallax_1 img {
    top: 70%;
    left: 70%;
  }
  #scene_company .parallax_2 img {
    top: 14%;
    left: 5%;
  }
  #scene_company .parallax_3 img {
    top: 73%;
    left: 7%;
  }
  #scene_company .parallax_6 img {
    top: 32%;
    left: -32%;
  }
  #scene_goal .parallax_1 img {
    top: 53%;
    left: 75%;
  }
  #scene_goal .parallax_2 img {
    top: 23%;
    left: -17%;
  }
  #scene_goal .parallax_3 img {
    top: 87%;
    left: 19%;
  }
  .main_screen {
    padding: 0 0 300px;
    position: relative;
    z-index: 6;
  }
  .img_section.company img {
    max-height: 300px;
    margin: 50px 0 0 0;
  }
  .our-values_screen {

    padding-top: 220px;
    background-size: auto 100%;
    position: relative;
  }
  .misson_screen .description_block{
    margin: 0;
  }
  .img_section.satelite {
    width: 300px;
    height: 300px;
    position: relative;
  }
  .goal_screen {

    position: relative;
    z-index: 1;
    padding-top: 350px;
    margin-top: -350px;
  }
  .goal_screen .description_block{
    margin: 0;
  }
  .goal_screen .img_section.saturn {
    width: 300px;
    height: 300px;
  }
  .values_screen {

    position: relative;
    z-index: 1;
    padding: 400px 0;
    margin-top: -350px;
    z-index: 1;
  }
  .img_section.rocket img {
    max-height: 230px;
    z-index: 1;
    position: relative;
  }
  .img_section.rocket .fire {
    position: absolute;
    top: 2rem;
    right: 3rem;
    z-index: 0;
  }
  #scene_value .parallax_1 img {
    top: 37%;
    left: 72%;
  }
  #scene_value .parallax_2 img {
    top: 20%;
    left: -26%;
  }
  .radial_back {
    position: absolute;
    background: radial-gradient(#3600b5 0%,#21084200 70%);
    width: 1000px;
    height: 1000px;
    opacity: 0.25;
    top: 350px;
    left: -100px;
  }
  .values_screen .radial_back {
    background: radial-gradient(#7200ff 0%,#21084200 70%);
    top: -540px;
    left: -130px;
    pointer-events: none;
    width: 800px;
    height: 800px;
  }
  .prev-end_screen {
    padding-top: 450px;
    padding-bottom: 0px;
  }
  .prev-end_screen .ship {
    padding: 0px 10% 140px 0;
  }
  .prev-end_screen .description_block{
    margin: 0 0 120px 0;
  }
  .action_screen{
  margin-top: -100px;
    padding-top: 300px;
  }
  .action_screen .astronavt{
    width: 230px;
    margin: 50px auto 0;
  }
  .footer-menu_screen {
    background-color: #2c0955;
margin-top: 9px;
    padding-top: 164px;
  }
  .footer-menu_screen .row{
    padding:0 0 50px 0;
  }
  .footer-menu_screen .bg_screen {
left: -86rem;
    top: -11rem;
  }
  .action_screen .bg_screen {
    left: -146rem;
    top: 6rem;
  }
  .footer-menu_screen .row .col-md-6 {
    text-align:left;
  }
  .prev-end_screen .ship img {
    max-width: 100%;
  }
    .footer-partners_screen .bg_screen{
    left: -148rem;
    top: -19rem;
  }
}
@media screen  and  (min-width: 250px) and (max-width:768px){
  .header{
    padding-top: 0;
  }
  .button {
    margin: 15px 0;
    min-width: 266px;
    padding: 15px 20px;
    font-size: 16px;
  }
  .description_block{
    padding: 0px 10px;
  }

  .footer-menu_screen .row .col-md-6 {
    text-align:center;
    padding:0 0 50px 0;
  }
  .footer-menu_screen .row{
    padding:0;
  }
  .navbar-collapse{
    position: fixed;
    background: #1b013b;
    z-index: 6;
    width: 100vw;
    text-align: left;
    top: 0;
    padding: 0px 47px;
    left: 0;
    height: 100vh;
  }
  .navbar-nav {
    padding-top: 20px;
    float: left;
    margin: 0;
    width: 100%;
  }
  .navbar-nav li {
    padding: 15px;
  }
  .navbar-toggle.collapsed{
    position: relative;
    margin-top: 40px;
  }
  .navbar-toggle{
    z-index: 7;
    position: fixed;
    right: 10px;
    margin-top: 20px;
  }
  .navbar-nav li.support-link {
    padding: 15px;
  }
  .navbar-nav li.signin-link {
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
